.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    min-width: 300px;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.title-basket {
    display: flex;
    justify-content: center;
}

.button-commande {
    display: flex;
    justify-content: center; 
    margin-top: 4px; 

}

.trash {
    padding: 12px;
    cursor: pointer;

    :hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}