@import 'components/layout/header/header_home/header.scss';
@import 'components/pages/product/products.scss';
@import 'components/pages/basket/paniers.scss';
@import 'components/pages/data-client/payment.scss';

.body {
    height: calc(100% - 213px);
    min-height: calc(100vh - 213px);
    position: relative;
}